{% extends 'KnpKnoodleBundle::layout.html.twig' %}
{% block content %}
    <div id="answer-new">
        <h3>New Answer</h3>
        <h4>{{ survey.name }}</h4>

        {{ form_start(form) }}

        <fieldset class="author">
            <legend><h4>Author</h4></legend>
            <div class="question">
                {{ form_row(form.first_name) }}
            </div>
            <div class="question">
                {{ form_row(form.last_name) }}
            </div>
            <div class="question">
                {{ form_row(form.email) }}
            </div>
        </fieldset>

        {% for choice in form.choices %}
            <fieldset><legend><h4>{{ form_label(choice) }}</h4></legend>
                {{ form_errors(choice) }}
                {{ form_widget(choice) }}
            </fieldset>
        {% endfor %}
        {{form_row(form.validate, {'attr': {'class': 'button'}} ) }}
        or <a href="{{ path('knoodle_show', {'id': survey.id}) }}">cancel</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
